data/
bin/khatus_bar
bin/khatus_actuate_alert_to_notify_send
bin/khatus_actuate_device_add_to_automount
bin/khatus_actuate_status_bar_to_xsetroot_name
bin/khatus_monitor_devices
bin/khatus_monitor_energy
bin/khatus_monitor_errors
bin/khatus_parse_bluetoothctl_show
bin/khatus_parse_df_pcent
bin/khatus_parse_fan_file
bin/khatus_parse_free
bin/khatus_parse_ip_addr
bin/khatus_parse_iwconfig
bin/khatus_parse_loadavg_file
bin/khatus_parse_metar_d_output
bin/khatus_parse_mpd_status_currentsong
bin/khatus_parse_pactl_list_sinks
bin/khatus_parse_ps
bin/khatus_parse_sys_block_stat
bin/khatus_parse_udevadm_monitor_block
bin/khatus_parse_upower
